body{
  background-color: rgb(45, 45, 45);
   font-family: "Brush Script MT", cursive;
  font-size: 2.5vw;
  color: rgb(250, 250, 250);
  align-content: center;
  justify-content: center;
  text-align: center;
}
h1 {
  font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
  color: rgb(206, 206, 206);
  justify-content: center;
  align-content: center;
  text-align: center;
  display: flex;
  margin: auto;
  padding: 10vw;
  font-size: 6vw;
}
h2 {
  font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
  color: rgb(206, 206, 206);
  align-content: center;
  justify-content: center;
  text-align: center;
  display: flex;
  margin: auto;
  font-size: 3vw;
}
h3 {
  font-family: "Brush Script MT", cursive;
  color: rgb(206, 206, 206);
  align-content: center;
  justify-content: center;
  display: flex;
  margin: auto;
  font-size: 2.75vw;
}
textarea {
 align-content: center;
  justify-content: center;
  text-align: center;
   font-family: "Brush Script MT", cursive;
  font-size: 2.5vw;
  color: rgb(250, 250, 250);
  background-color: rgb(175,175,175);
  height: 10vh;
  width: 75vw;
  word-break: break-all;
  overflow-wrap: break-all;
}
main {
 align-content: center;
  justify-content: center;
  text-align: center;
  font-family: "Brush Script MT", cursive;
  font-size: 2.5vw;
  color: rgb(250, 250, 250);
  padding: 5vw;
  }
button {
 align-content: center;
  justify-content: center;
  text-align: center;
   font-family: "Brush Script MT", cursive;
  font-size: 2.5vw;
  color: rgb(275,275,275);
  background-color: rgb(150,150,150);
}